<div class="container mat-elevation-z8" style="margin-top: 150px">
  <span style="margin-left: 15px">
    <mat-form-field>
      <div>
        <input
          (keyup)="applyFilter($event.target.value)"
          matInput
          name="search"
          [(ngModel)]="search"
          placeholder="search"
        />
      </div>
    </mat-form-field>
  </span>
  <span style="margin-right: 30px"
    ><button mat-mini-fab (click)="onClear()" [disabled]="search.length === 0">
      <mat-icon>clear</mat-icon>
    </button></span
  >
  <span class="m-lg-4"
    ><button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon>person_add</mat-icon>
    </button></span
  >
  <table mat-table matSort [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- mob Column -->
    <ng-container matColumnDef="mob">
      <th mat-header-cell *matHeaderCellDef>Mob</th>
      <td mat-cell *matCellDef="let element">{{ element.mob }}</td>
    </ng-container>

    <!--footer row-->
    <ng-container matColumnDef="nodata">
      <mat-footer-cell *matFooterCellDef colspan="6">No Data</mat-footer-cell>
    </ng-container>

    <!-- action coloumn -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>action</th>
      <td mat-cell *matCellDef="let row">
        <span
          ><button
          class="d-none"
            style="margin-right: 20px"
            mat-mini-fab
            color="accent"
            (click)="editData(row)"
          >
            <mat-icon>edit</mat-icon></button
          ><button mat-mini-fab color="warn" (click)="deleteData(row)">
            <mat-icon>person_remove</mat-icon>
          </button></span
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
    <mat-footer-row
      *matFooterRowDef="['nodata']"
      [class.d-none]="dataSource?.length !== null"
    ></mat-footer-row>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
