<div>
  <div style="text-align: right; width: 40%; position: absolute">
    <button (click)="onClose(userForm)" mat-mini-fab>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="text-center card-body">
    <div class="card-header">
      <h5 *ngIf="!switch" class="mt-2" style="color: cornflowerblue">
        ADD USER
      </h5>
      <h5 *ngIf="switch" class="mt-2" style="color: rgb(92, 160, 52)">
        SUCCESS !!
      </h5>
    </div>
    <form #userForm="ngForm" (ngSubmit)="newUser(userForm)">
      <div class="d-none">
        <mat-form-field class="example-full-width mt-4">
          <input
            type="number"
            placeholder="enter id"
            name="id"
            #name="ngModel"
            matInput
            [(ngModel)]="userModel.id"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width mt-4">
          <input
            type="text"
            placeholder="enter name"
            name="name"
            #name="ngModel"
            required
            matInput
            [(ngModel)]="userModel.name"
            pattern="[0-9a-zA-Z]{4,}"
            value="userModel.name"
          />
          <mat-error *ngIf="name.touched && name.errors?.required">
            field can't be blank
          </mat-error>
          <mat-error *ngIf="!name.errors?.required && name.errors?.pattern">
            must be atleast 4 character
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width mt-3">
          <input
            type="email"
            placeholder="enter email"
            name="email"
            #email="ngModel"
            required
            matInput
            [(ngModel)]="userModel.email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <mat-error *ngIf="email.touched && email.errors?.required">
            field can't be blank
          </mat-error>
          <mat-error *ngIf="!email.errors?.required && email.errors?.pattern">
            enter a valid email !
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width mt-3">
          <input
            type="number"
            placeholder="enter mob"
            name="mob"
            #mob="ngModel"
            required
            matInput
            [(ngModel)]="userModel.mob"
            pattern="^\d{10}$"
          />
          <mat-error *ngIf="mob.touched && mob.errors?.required">
            field can't be blank
          </mat-error>
          <mat-error *ngIf="!mob.errors?.required && mob.errors?.pattern">
            must be 10 characters
          </mat-error>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!userForm.valid"
      >
        submit
      </button>
      <button mat-raised-button color="accent" type="reset" class="m-lg-2">
        clear
      </button>
    </form>
  </div>
</div>
