.Snackbar {
  font-weight: bold;
  background-color: goldenrod;
  color: aliceblue;
}
.Snackbar2 {
  font-weight: bold;
  background-color: rgb(231, 122, 114);
  color: aliceblue;
}
.mat-dialog-container {
  background-color: whitesmoke;
  padding: 0px !important;
}
