<div>
  <h5 class="text-end w-100">
    <mat-icon id="mat-close" class="mat" (click) = "closeDialog()">close</mat-icon>
  </h5>
  <h5 class="text-center" style="margin-top: 15px; margin-bottom: 55px">
    are you sure?
  </h5>
  <div>
    <button
      type="button"
      style="width: 153px"
      mat-flat-button
      color="warn"
      id="yes-button"
      [mat-dialog-close]='true'
    >
      Yes
    </button>
    <button
      type="button"
      style="width: 154px"
      mat-flat-button
      color="accent"
      id="no-button"
      [mat-dialog-close]='false'
    >
      No
    </button>
  </div>
</div>
